:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;

  --blue: #0000ff;
  --white: #fff;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --font-family: cursive;
}

.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--bg-body);
}

.bottommenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 90%;
}

.calculator_icon {
  background-image: url(./icons/icons8-calculator.svg);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.5s;
}

.calculator_icon:hover {
  transform: translateY(-10px);
}

.calendar_icon {
  background-image: url(./icons/icons8-calendar.svg);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.5s;
}

.calendar_icon:hover {
  transform: translateY(-10px);
}

.calcwrapper {
  visibility: hidden;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 10;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  width: 350px;
  height: 500px;
  border: 5px black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  box-shadow: var(--shadow);
}

.closebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 0, 51);
  cursor: pointer;
  position: absolute;
  right: 0;
}

.item {
  background-color: rgb(58, 206, 255);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  font-size: x-large;
  font-weight: bold;
}

.input {
  grid-column: 1/-1;
  padding: 0;
}
#calcinput {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: right;
  font-size: xx-large;
}

.equalbtn {background-color: rgb(245, 140, 140);}

